@{
    ViewBag.Title = "Contact";
}
<h2>Еко-тест</h2>
<h3>Ми відкриті для пропозицій</h3>

<address>

    <abbr title="Phone">т:</abbr>
    050-192-77-95
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:vasyl.fomichov@outlook.com">vasyl.fomichov@outlook.com</a><br />

</address>