@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Вас вітає Екологічний тест!</h1>
    <h2>Для початку натисніть кнопку "Розпочати тестування"</h2>
    @Html.RouteLink("Розпочати тестування", new { controller = "Test", action = "Index" }, new { @class = "btn btn-primary btn-lg" })

</div>
